################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-debug
*.exe
/A1.bat
/A2.bat
/A3.bat
/Big.sof
/PROL.txt
